.app {
  background-color: #fafafa;
}

.app__header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid lightgray;
}

.modal__box {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.signup__input {
  font-size: 17px;
  margin-bottom: 10px;
  padding: 5px;
}

.signup__button {
  background-color: rgb(0, 140, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 10px;
}
