@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.post {
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 25px;
  width: 65%;
  background-color: white;
  max-width: 600px;
}

.post__head {
  display: flex;
  align-items: center;
}

h3 {
  font-size: 14px;
  margin: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.post__username {
  padding: 15px;
  display: flex;
  align-items: center;
}

.post__username > p {
  font-size: 14px;
}

.post__image {
  padding: 1px;
}

.post__image > img {
  width: 100%;
  object-fit: cover;
}
